{% extends 'includes/layout.html' %}
{% block content %}
    <div class="row justify-content-between mt-3">
        <h2 class="col-4">{{ title|title }}</h2>
        <a class="btn btn-success col-2" href="/addCommande">ajouter</a>
    </div>
    <div class="card mt-3">
        <form method="post" action="{% url 'search-commande' %}">
            {% csrf_token %}
            <div class="card-header">
                <div class="input-group">
                  <div class="form-outline">
                    <input type="search" class="form-control" placeholder="search" name="searched"/>
                  </div>
                  <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
            </div>
        </form>
        <div class="card-body">
            <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Reference</th>
              <th scope="col">Date</th>
              <th scope="col">Personne</th>
            </tr>
        </thead>
        <tbody>
            {% for c in commandes %}
            <tr>
              <td>{{c.id}}</td>
              <td>{{c.referenceCmd}}</td>
              <td>{{c.dateCmd }} </td>
              <td>{{c.personne.nom }} </td>
              <td>
                  <a href="/commande/detailsCommande/{{ c.id }}" class="btn btn-sm btn-primary">Affiche</a>
                  <a href="/commande/editCommande/{{ c.id }}" class="btn btn-sm btn-info">Edit</a>
                  <a href="/commande/deleteCommande/{{ c.id }}" class="btn btn-sm btn-warning" onclick="return confirm('Sur ?');">Supprimer</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        </table>

         <nav aria-label="Page navigation example">
             {% if commandes.has_other_pages %}
              <ul class="pagination">
                    {% if commandes.has_previous %}
                      <li class="page-item">
                      <a class="page-link" href="?page={{ commandes.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}

                    {% for i in commandes.paginator.page_range %}
                      {% if commandes.number == i %}
                          <li class="page-item active page-link">{{ i }}</li>
                      {% else %}
                        <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}

                    {% if commandes.has_next %}
                      <li class="page-item">
                      <a class="page-link" href="?page={{ commandes.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
              </ul>
             {% endif %}
            </nav>
        </div>
    </div>
{% endblock content %}